@model Sacolao.Aplicacao.GestaoDeFrutas.Modelos.ModeloDeListaDeFrutas

@{ViewData["Title"] = "Lista de Frutas"; }

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col-md-12">
                <form role="form" action="@Url.Action("Index", "Fruta")" method="get">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-search"></i> Buscar Frutas</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Nome">Nome:</label>
                                        <input type="text" value="@Model.Filtro.Nome" class="form-control" id="Filtro.Nome" name="Filtro.Nome">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("Cadastrar", "Fruta" )" class="btn btn-info"> Cadastrar Fruta </a>
                            <button type="submit" class="btn btn-primary float-right">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-table"></i> Lista de Frutas </h3>
                    </div>
                    <div class="card-body table-responsive p-0">
                        @if (Model.Lista.Count > 0)
                        {
                            <table class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th width="20px"></th>
                                        <th>Nome</th>
                                        <th>Descrição</th>
                                        <th>Estoque</th>
                                        <th>R$ Valor</th>
                                        <th width="30px"></th>
                                        <th width="30px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Lista)
                                    {
                                        <tr>
                                            <td> <img src="@item.Caminho" alt="@item.Nome" class="img-circle img-size-32 mr-2"> </td>
                                            <td>@item.Nome</td>
                                            <td>@item.Descricao</td>
                                            <td>@item.Quantidade</td>
                                            <td>@item.Valor</td>
                                            <td> <a href="@Url.Action("Editar", "Fruta", new { id = item.Id } )" class="btn btn-info"> Editar </a> </td>
                                            <td> <a href="javascript:void(0);" class="btn btn-danger btnExcluirFruta no-load float-right mr-1" data-id="@item.Id" title="Deseja excluir a fruta?"> Excluir </a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <div class="card-footer">
                        <span class="pagination pagination-sm m-0 float-left"> Total de Registros @Model.TotalDeRegistros </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Confirmacao")

@section scripts{
    <script src="~/js/gestao-fruta.js"></script>
}