@model Sacolao.Aplicacao.GestaoDeCarrinhos.Modelos.ModeloDeEdicaoDeCarrinho

@{ViewData["Title"] = "Carrinho de Compras"; }

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col-md-12">
                <form role="form" action="@Url.Action("Index", "Fruta")" method="get">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-search"></i> Carrinho de Compras</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @if (Model.Id == 0)
                                {
                                    <div class="col-lg-12">
                                        <h2>Carrinho vazio</h2>
                                    </div>
                                }
                                else
                                {
                            <div class="col-lg-12">
                                <table class="table table-striped text-nowrap">
                                    <thead>
                                        <tr>
                                            <th width="30px"></th>
                                            <th>Código</th>
                                            <th>Produtos</th>
                                            <th>R$ Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> <a href="@Url.Action("Editar", "Carrinho", new { id = Model.Id } )" class="btn btn-info"> Visualizar Carrinho </a> </td>
                                            <td>#@Model.Id</td>
                                            <td>@Model.TotalProdutos</td>
                                            <td>@Model.Valor</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                }
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("Index", "Home")" class="btn btn-secondary float-left">Adicionar Produtos</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>